/* src/components/SideNav.css */
.sidenav {
  width: 200px;
  background: #4C63D2;
  color: white;
  padding: 20px;
}
.sidenav h2 {
  margin-top: 0;
}
.sidenav ul {
  list-style: none;
  padding: 0;
}
.sidenav li + li {
  margin-top: 0.5rem;
}
.sidenav a {
  color: white;
}
.sidenav a.active {
  font-weight: bold;
  text-decoration: underline;
}
